
.homebar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #457B9D;
    height: 100px;
    width: 70vw;
    border-radius: 5px;
    /* padding: 5px; */
}

.homebar__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-left: .7px solid #fff;
    text-decoration: none;

}

.homebar__btn:hover {
    transition: all ease-in 0.2s;
    background-color: #345569;
}

.homebar__input {
    background-color: transparent;
    border: none;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    padding: 10px;
    outline: none;
    color: #fff;
    font-size: 15px;
}

.homebar__input::placeholder {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

@media only screen and (max-width: 768px) {
    .homebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
        width: 90vw;
    }

    .homebar__btn {
        border-bottom: .7px solid #fff;
    }

    .homebar__input {
        height: 200px;
        padding: 0;
        padding-left: 20px;
        border-bottom: .7px solid #fff;
        
    }
}