
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #457B9D;

}

.footer__bottom p{
    font-size: 13px;
    color: #fff;
}

.footer__icon {
    font-size: 1.5rem;
    padding: 10px;
    color: #EFD09E;
}

@media only screen and (max-width: 768px) {
    .footer__bottom {
        flex-direction: column-reverse;
    }
}